<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${clase.id == null ? 'Nueva Clase — Kenpo' : 'Editar Clase — Kenpo'}"></title>
    <link rel="stylesheet" th:href="@{/css/global.css}">

</head>
<body>
<br>
<header th:insert="~{fragments/header :: estilos-globales}"></header>
<header th:insert="~{fragments/header :: menu-navegacion}"></header>
<br>
<br>
<div class="main-container">
    <div class="breadcrumb">
        <a th:href="@{/clases}">← Volver al listado</a>
    </div>

    <h2>Escuela de Kenpo Internacional</h2>
    <h3 th:text="${clase.id == null ? 'Nueva Clase Técnica' : 'Modificar Parámetros de Clase'}"></h3>

    <div class="form-card">
        <form th:action="@{/clases/guardar}" th:object="${clase}" method="post" class="form-box">
            <input type="hidden" th:field="*{id}">

            <div class="form-group">
                <label for="tipoClase">Tipo de Clase</label>
                <input type="text" id="tipoClase" th:field="*{tipoClase}" placeholder="Ej: Sparring, Kata, Defensa Personal" required>
                <span class="error-span" th:if="${#fields.hasErrors('tipoClase')}" th:errors="*{tipoClase}"></span>
            </div>

            <div class="form-group">
                <label for="descripcion">Descripción del Bloque Técnico</label>
                <input type="text" id="descripcion" th:field="*{descripcion}" placeholder="Ej: Combate controlado o técnicas de puño" required>
                <span class="error-span" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></span>
            </div>

            <div class="checkbox-wrapper">
                <input type="checkbox" id="estado" th:field="*{estado}">
                <label for="estado" class="checkbox-label">Habilitar clase para registro de asistencia</label>
            </div>

            <div class="form-actions">
                <a th:href="@{/clases}" class="btn-cancelar">Cancelar</a>
                <button type="submit" class="btn-guardar">Guardar Clase</button>
            </div>
        </form>
    </div>
</div>
<br>
<br>
<div th:insert="~{fragments/footer :: pie-pagina}"></div>
</body>
</html>
