<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listad de Clases</title>
</head>
<body>

<h1>Listado de Clases</h1>

<p>
    <a th:href="@{/clases/nuevo}">Crear nueva clase</a>

</p>

<table border="1" cellpadding="8">
    <thead>
    <tr>
        <th>ID</th>
        <th>Tipo de Clase</th>
        <th>Descripción</th>
        <th>Estado</th>
        <th>Acciones</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="clase : ${clases}">
        <td th:text="${clase.id}"></td>
        <td th:text="${clase.tipoClase}"></td>
        <td th:text="${clase.descripcion}"></td>
        <td th:text="${clase.estado}"></td>
        <td>
            <a th:href="@{/clases/editar/{id}(id=${clase.id})}">Editar</a>
            |
            <a th:href="@{/clases/eliminar/{id}(id=${clase.id})}"
               onclick="return confirm('¿Desea eliminar esta clase?')">
                Eliminar
            </a>
        </td>
    </tr>
    </tbody>
</table>


<p th:if="${#lists.isEmpty(clases)}">
    No existen clases registradas.
</p>
<br>
<br>
<a th:href="@{/}">Volver al Inicio</a>

</body>
</html>