<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/header :: estilos-globales}"></head>
<body>
<header th:insert="~{fragments/header :: menu-navegacion}"></header>
<br><br>

<div class="container-vista-estudiantes">
    <div class="container">

        <div class="header-section">
            <h1>👤 Perfil del Estudiante</h1>
            <div>
                <!-- Navega a asistencias con el mismo RUT -->
                <a th:href="@{/estudiantes/asistencias(rut=${rut})}" class="btn-crear">📋 Ver Asistencias</a>

                <a th:href="@{/estudiantes/listar}" class="btn-inicio">← Listado</a>
            </div>
        </div>

        <!-- Tarjeta de datos personales -->
        <div class="card-Pest">
            <h2 class="Pest-titulo">📌 Datos Personales</h2>
            <p></p>

            <div class="Pest-grid">

                <div class="Pest-item">
                    <p class="Pest-label">Nombre Completo</p>
                    <p class="Pest-nombre"
                        th:text="${ficha.nombres + ' ' + ficha.apellido1 + (ficha.apellido2 != null ? ' ' + ficha.apellido2 : '')}">
                    </p>
                </div>

                <div class="Pest-item">
                    <p class="Pest-label">RUT</p>
                    <p class="Pest-valor" th:text="${ficha.rut}"></p>
                </div>

                <div class="Pest-item">
                    <p class="Pest-label">Edad</p>
                    <p class="Pest-valor">
                        <span th:text="${ficha.edad}"></span> años
                        <span class="Pest-secundario"
                              th:text="'(' + ${#temporals.format(ficha.fechaNac, 'dd/MM/yyyy')} + ')'">
                </span>
                    </p>
                </div>

                <div class="Pest-item">
                    <p class="Pest-label">Estado</p>
                    <p class="Pest-container">
                <span th:class="${ficha.activo} ? 'badge badge-activa' : 'badge badge-inactiva'"
                      th:text="${ficha.activo} ? 'Vigente' : 'Inactivo'">
                </span>
                    </p>
                </div>

            </div>
        </div>

        <!-- Tarjeta de datos académicos -->
        <div class="card-Pest">
        <h2 class="Pest-titulo">🥋 Datos Académicos</h2>
            <p></p>

        <div class="Pest-grid">

            <div class="Pest-item">
                <p class="Pest-label">Grado / Cinturón</p>
                <p class="Pest-valor" th:text="${ficha.grado}">
                </p>
            </div>

            <div class="Pest-item">
                <p class="Pest-label">Ultimo Ascenso</p>
                <p class="Pest-valor" th:text="${ficha.fechaAscenso != null ? #temporals.format(ficha.fechaAscenso, 'dd/MM/yyyy') : '-'}"></p>
            </div>

            <div class="Pest-item">
                <p class="Pest-label">Fecha de Inscripcion</p>
                <p class="Pest-valor" th:text="${ficha.fechaInscripcion != null ? #temporals.format(ficha.fechaInscripcion, 'dd/MM/yyyy') : 'No registrada'}"></p>
            </div>

        </div>
    </div>

        <!-- Tabla de clases asistidas con instructor -->

        <div class="header-section">
            <h1> 📋 Clases Asistidas</h1>

            <div class="total-clases" th:if="${not #lists.isEmpty(ficha.asistencias)}">
                Total de clases asistidas: <strong th:text="${#lists.size(ficha.asistencias)}"></strong>
            </div>
        </div>
        <table th:if="${not #lists.isEmpty(ficha.asistencias)}">
            <thead>
            <tr>
                <th>#</th>
                <th>Fecha de Clase</th>
                <th>Módulo / Clase</th>
                <th>Instructor</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="asistencia, iterStat : ${ficha.asistencias}">
                <td th:text="${iterStat.count}" ></td>
                <td th:text="${#temporals.format(asistencia.fechaClase, 'dd/MM/yyyy')}"></td>
                <td class="nombre-verde"   th:text="${asistencia.clase.tipoClase}"></td>
                <td class="nombre-negrita2"   th:text="${asistencia.instructor.nombres + ' ' + asistencia.instructor.apellido1}"></td>
            </tr>
            </tbody>
        </table>

        <div class="empty-msg" th:if="${#lists.isEmpty(ficha.asistencias)}">
            Este estudiante no tiene asistencias registradas.
        </div>


    </div>
</div>

<br><br>
<div th:replace="~{fragments/footer :: pie-pagina}"></div>
</body>
</html>
