<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<!-- Fragmento del Footer reutilizable -->
<footer th:fragment="pie-pagina" class="main-footer">
    <div class="footer-content">
        <p class="footer-text font-bold">Sistema de Gestión Académica de Escuela Kenpo</p>
        <p class="footer-text">Desarrollado en Spring Boot & Thymeleaf</p>
        <p class="footer-text">Venturelli, Yáñez, Cancino, Riquelme, Ibáñez, Fernández, Torres, Peña.</p>
        <!-- El año se calcula dinámicamente con Thymeleaf para no tener que actualizarlo nunca -->
        <p class="footer-copyright">© <span th:text="${#dates.year(#dates.createNow())}">2026</span> Todos los derechos reservados.</p>
    </div>
</footer>

</body>
</html>
